/* 
    Widget Styles
    Widget Name:       Decorated Heading
    Author:            Jose Aburto
    Author URI:        https://www.linkedin.com/in/jose-aburto/
*/

.del-decorated-heading-container {
    max-width: fit-content;
}

.del-decorated-heading-container>span {
    position: relative;
    display: flex;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    width: auto;
}

.del-decorated-heading-container>span>.primary-text-adarment {
    position: absolute;
    top: 0;
    left: 0;
}

.del-decorated-heading-container>span>.secondary-text-adarment {
    position: absolute;
    top: 0;
    right: 0;
}

.del-decorated-heading-container>span>h1 {
    text-wrap: nowrap;
    margin: 0;
    font-size: 2rem !important;
    font-family: 'Open Sans', sans-serif;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.8px) {
    .del-decorated-heading-container>span {
        transform: scale(0.7) !important;
    }

    .del-decorated-heading-container>span>h1 {
        font-size: 3.2rem !important;
        text-align: center !important;
        text-wrap: wrap !important;
    }

    .del-decorated-heading-container>span>.primary-text-adarment {
        display: none !important;
    }

    .del-decorated-heading-container>span>.secondary-text-adarment {
        display: none !important;
    }
}




/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .del-decorated-heading-container>span {
        transform: scale(0.7) !important;
    }

    .del-decorated-heading-container>span>h1 {
        font-size: 3.2rem !important;
        text-align: center !important;
        text-wrap: wrap !important;
    }

    .del-decorated-heading-container>span>.primary-text-adarment {
        display: none !important;
    }

    .del-decorated-heading-container>span>.secondary-text-adarment {
        display: none !important;
    }
}