/* 
    Widget Styles
    Widget Name:       Navbar
    Author:            Jose Aburto
    Author URI:        https://www.linkedin.com/in/jose-aburto/
*/
.e-con>.e-con-inner {
    padding: 0px !important;
}

.delinternet-man-navbar {
    width: 100%;
    padding: 0.5rem;
    background-color: #FFFFFF !important;
    box-shadow: rgb(108 110 113 / 40%) 0px 10px 22px;
}

.logo-anchor {
    min-width: 150px !important;
    max-width: 150px !important;
}

.logo-anchor>.logo-img {
    height: 100% !important;
}

.main-del-navbar {
    display: flex;
    justify-content: space-between;
}

.main-del-navbar>.left-side {
    gap: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.main-del-navbar li {
    list-style: none;
}

.main-del-navbar ul,
.main-del-navbar .menu-anchor {
    margin: 0;
    font-weight: 400;
    font-weight: 500;
    text-wrap: nowrap;
    font-style: normal;
    font-size: 1.9vmin !important;
    font-family: 'Open Sans', sans-serif;
    color: var(--e-global-color-secondary) !important;
}

.main-del-menu-ul-container {
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.main-del-menu-ul-container>.main-del-menu-il:hover>svg {
    color: var(--e-global-color-accent) !important;
}

.menu-anchor:hover {
    cursor: pointer;
    color: var(--e-global-color-accent) !important;
}

.main-del-menu-ul-container>.with-submenu-main-del-menu-il {
    gap: 5px;
    display: flex;
    position: relative;
    align-items: center;
}

.main-del-menu-ul-container>.with-submenu-main-del-menu-il:hover>ul {
    display: block;

}

.main-del-menu-ul-container>.with-submenu-main-del-menu-il>ul {
    display: none;
    min-width: 10rem;
    border-radius: 1rem;
    background-color: #FFF;
    box-shadow: rgb(108 110 113 / 40%) 0px 10px 22px;
    z-index: 10;
    bottom: 10%;
    padding: 1rem;
    position: absolute;
    transform: translate(0px, 100%);
}

.main-del-menu-ul-container>.with-submenu-main-del-menu-il>ul>li {
    display: flex;
    cursor: pointer;
    padding: 0.4rem;
    text-wrap: nowrap;
    border-radius: 0.6rem;
    align-items: flex-start;
    justify-content: space-between;
}

.main-del-menu-ul-container>.with-submenu-main-del-menu-il>ul>li:hover {
    color: var(--e-global-color-accent) !important;
}

.main-del-menu-ul-container>.with-submenu-main-del-menu-il>ul>li:hover>.menu-anchor {
    color: var(--e-global-color-accent) !important;
}

.main-del-navbar>.right-side {
    gap: 2rem;
    display: flex;
    width: fit-content;
    align-items: center;
}

.main-del-navbar>.right-side a,
.main-del-navbar>.right-side button {
    text-wrap: nowrap;
}

.main-del-navbar>.right-side button {
    padding: .8rem 1rem;
    border-radius: 6rem;
    font-weight: 400;
    font-size: 0.875rem !important;
    color: var(--e-global-color-text) !important;
    background-color: var(--e-global-color-primary) !important;
}

.main-del-navbar>.right-side button:hover {
    color: #FFF !important;
    background-color: var(--e-global-color-accent) !important;
}


.shall-we-call-you-icon-button-xs,
.shall-we-call-you-icon-button-xs-header,
.main-del-navbar>.right-side button.responsive-menu-icon-button,
.main-del-navbar>.right-side button.shall-we-call-you-icon-button {
    border-radius: 8px !important;
    background-color: transparent !important;
    color: var(--e-global-color-text) !important;
    padding: 1rem;
}

.logo-anchor-sx,
.shall-we-call-you-icon-button-xs {
    display: none !important;
}


/* XS MENU LIST */
.main-del-navbar {
    position: relative;
}

.main-del-menu-ul-container-xs-container {
    top: 0px;
    left: 0px;
    z-index: 50;
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed !important;
    background-color: #00000093;
}

.main-del-menu-ul-container-xs-container>.inner-container {
    padding: 1rem;
    min-width: 330px !important;
    max-width: 330px !important;
    min-height: 100% !important;
    max-height: 100% !important;
    background-color: #EEEFE8 !important;
}

.main-del-menu-ul-container-xs a.menu-anchor,
.main-del-menu-ul-container-xs p.menu-anchor {
    font-size: 1rem !important;
}

/* SUBMENU */
.main-del-menu-ul-container-xs>.with-submenu-main-del-menu-il,
.main-del-menu-ul-container-xs>.with-submenu-main-del-menu-il>ul,
.main-del-menu-ul-container-xs-container>.inner-container>.main-del-menu-ul-container-xs {
    display: flex;
    flex-direction: column;
    gap: 15px !important;
}

.main-del-menu-ul-container-xs>.with-submenu-main-del-menu-il>ul {
    margin-left: 2.5rem;
}

.main-del-menu-ul-container-xs>.with-submenu-main-del-menu-il>ul>li {
    display: flex;
    cursor: pointer;
    /* padding: 0.4rem; */
    text-wrap: nowrap;
    border-radius: 0.6rem;
    align-items: flex-start;
    justify-content: space-between;
}

.main-del-menu-ul-container-xs>.with-submenu-main-del-menu-il>ul>li>svg {
    display: none !important;
}

.main-del-menu-ul-container-xs>.with-submenu-main-del-menu-il>ul>li:hover {
    color: var(--e-global-color-accent) !important;
}

.main-del-menu-ul-container-xs>.with-submenu-main-del-menu-il>ul>li:hover>.menu-anchor {
    color: var(--e-global-color-accent) !important;
}

/* MEDIA QUERIES */



/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.8px) {
    .main-del-navbar {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .logo-anchor-sx,
    .responsive-menu-icon-button,
    .shall-we-call-you-icon-button-xs {
        display: block !important;
    }

    .left-side,
    .call-us-anchor,
    .main-del-menu-ul-container,
    .shall-we-call-you-text-button,
    .shall-we-call-you-icon-button {
        display: none !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .responsive-menu-icon-button {
        display: block !important;
    }

    .call-us-anchor,
    .main-del-menu-ul-container,
    .shall-we-call-you-icon-button,
    .shall-we-call-you-text-button {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1124px) {
    .main-del-menu-ul-container {
        display: flex !important;
    }

    .main-del-navbar ul,
    .main-del-navbar .menu-anchor {
        font-size: 1.9vmin !important;
    }

    .shall-we-call-you-text-button,
    .responsive-menu-icon-button {
        display: none !important;
    }

    .call-us-anchor,
    .shall-we-call-you-icon-button {
        display: block !important;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1300px) {

    .main-del-menu-ul-container {
        display: flex !important;
    }

    .main-del-navbar ul,
    .main-del-navbar .menu-anchor {
        font-size: 1.9vmin !important;

    }

    .shall-we-call-you-icon-button,
    .responsive-menu-icon-button {
        display: none !important;
    }

    .shall-we-call-you-text-button,
    .call-us-anchor {
        display: block !important;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {


    .main-del-menu-ul-container {
        display: flex !important;
    }

    .shall-we-call-you-icon-button,
    .responsive-menu-icon-button {
        display: none !important;
    }

    .shall-we-call-you-text-button,
    .call-us-anchor {
        display: block !important;
    }
}