.del-reviews-widget {
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.del-reviews-widget>.review-card {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-width: 320px;
    max-width: 380px;
    min-height: 300px;
    border-radius: 20px;
    background-color: #FFF;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15) !important;
}

.del-reviews-widget>.review-card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15) !important;
}

.del-reviews-widget>.review-card>.review-card-title {
    font-size: 'Open Sans', sans-serif;
}

.del-reviews-widget>.review-card>.review-card-stars {
    margin-bottom: 0.4rem;
}

.del-reviews-widget>.review-card>.review-card-stars>svg {
    width: 16px !important;
    height: 16px !important;
    fill: var(--wp--preset--color--luminous-vivid-amber) !important;
}